{% extends 'base.html' %}
{% set active_page="koordinatni" %}

{% block header %}
    <div class="container mx-auto" id="system_selector">
        <div class="row text-center">
            <div class="col-5">
                <div class="dropdown" id="start-system">
                    <button class="btn btn-lg btn-block btn-coordinate" type="button"
                            id="start-system-btn"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Nebesko ekvatorski

                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="start-options">
<!--                        <a class="dropdown-item" href="#">Mesno Ekvatorski</a>-->
<!--                        <a class="dropdown-item" href="#">Ekliptički</a>-->
                    </div>
                </div>
            </div>

            <div class="col-2">
                <!-- spacer -->
            </div>

            <div class="col-5">
                <div class="dropdown" id="end-system">
                    <button class="btn btn-coordinate btn-lg btn-block " type="button"
                            id="end-system-btn"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Horizontski
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="end-options">
<!--                        <a class="dropdown-item" href="#">Mesno Ekvatorski</a>-->
<!--                        <a class="dropdown-item" href="#">Ekliptički</a>-->
                    </div>
                </div>
            </div>

        </div>

    </div>
{% endblock %}



{% block content %}
    <div class="container my-4">
        <div class="row">
            <div class="col-5" id="inputBox">


            </div>

            <div class="col-2">

            </div>

            <div class="col-5" id="outputBox">

            </div>

        </div>
    </div>

    <button class="btn btn-lg btn-block btn-danger mx-auto" id="transform">TRANSFORMISI</button>
{% endblock %}
