{% extends 'base.html' %}
{% set active_page="koordinatni" %}


{% block header %}
    <div class="container mx-auto" id="system_selector">
        <div class="row text-center">
            <div class="col-5">
                <div class="dropdown" id="start-system">
                    <button class="btn btn-lg btn-block btn-coordinate" type="button"
                            id="start-system-btn"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Nebesko ekvatorski

                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Mesno Ekvatorski</a>
                        <a class="dropdown-item" href="#">Ekliptični</a>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <!-- spacer -->
            </div>

            <div class="col-5">
                <div class="dropdown" id="end-system">
                    <button class="btn btn-coordinate btn-lg btn-block " type="button"
                            id="end-system-btn"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Horizontski
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Mesno Ekvatorski</a>
                        <a class="dropdown-item" href="#">Ekliptični</a>
                    </div>
                </div>
            </div>

        </div>

    </div>
{% endblock %}
<div class="container">
    <div class="row">
        <div class="col-5">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Recipient's username"
                       aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2">@example.com</span>
                </div>
            </div>
        </div>

        <div class="col-2">

        </div>

        <div class="col-5">

        </div>

    </div>
</div>


{% block content %}
    <script src="{{ url_for("static", filename="scripts/prelasci.js") }}"></script>
{% endblock %}
