$font-stack: 'Ubuntu', sans-serif;
$primary-color: #C52233;
$secondary-color: #262626;
$text-color: #F0FFFF;

body {
  font: 100% $font-stack;
  background-color: $secondary-color;
  color: $text-color;
}

::selection {
  background: $primary-color;
}

nav {
  background-color: $primary-color;
  height: auto;
  font-size: 1.5em;
  margin-bottom: 100px;

  a.navbar-brand {
    font-size: 2em;
    color: black;
    margin-left: 115px;
    font-weight: bold;
  }
}

#corner-logo-top {
  position: absolute;
  z-index: 500;
  left: -60px;
  top: -60px;
  width: 175px;
  height: 175px;
  transform: rotate(80deg);
  transition: all 0.5s ease-in-out;
}

.btn-coordinate {
  height: 200px;
  font-size: 4em;
  font-weight: bold;
  color: $text-color;
}

.btn-coordinate:hover {
  background-color: rgba(209, 209, 209, 0.3);
}

.btn-coordinate:active, .btn-coordinate:focus, input:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem $primary-color;
}

#system_selector {
  margin-bottom: 10em;

  .dropdown-menu {
    width: 100%;
    font-size: 3em;
    background: transparent;
    border: none;

  }

  .dropdown-item {
    text-align: center;
    color: $text-color;
    font-size: 1em;
  }

  .dropdown-item:hover {
    background-color: $primary-color;
  }

  .dropdown-item:active {
    background-color: $primary-color;
  }
}

#transform {
  background-color: $primary-color;
  color: $text-color;
  font-weight: bold;
  border: 3px solid $text-color;
  font-size: 1.1em;
}

//FOCUS OUTLINE COLOR FIX
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: $primary-color;
  outline: 0 none;

  box-shadow: 0 1px 1px rgba(249, 36, 164, 0.66) inset, 0 0 8px rgba(249, 36, 164, 0.66);
}