<!DOCTYPE html>

<head>
    <title>{% block title %}{% endblock %} - Reduktor</title>
    <!--Bootstrap CSS only -->
    <link rel="stylesheet" href="{{url_for('static', filename='styles/bootstrap/bootstrap.css') }}">
    <!--    Bootstrap JS, Popper.js, and jQuery-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>

    <script src="{{url_for('static', filename='scripts/bootstrap/bootstrap.bundle.min.js')}}"></script>
    <!-- Ubuntu font family -->
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
          rel="stylesheet">

    <!-- My styles -->
    <link href="{{ url_for('static', filename='styles/main.css') }}" rel="stylesheet">
</head>

<body>
<!--Corner images-->
<img src="{{ url_for('static', filename='img/brand.png') }}" id="corner-logo-top" alt="brand image">

<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark justify-content-between py-2">
    <a class="navbar-brand" href="">
        REDUKTOR
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline ml-auto">
            <div class="custom-control custom-switch mx-3">
                <input type="checkbox" class="custom-control-input" id="precesijaSwitch">
                <label class="custom-control-label" for="precesijaSwitch">Precesija</label>
            </div>
            <div class="custom-control custom-switch mx-3">
                <input type="checkbox" class="custom-control-input" id="nutacijaSwitch">
                <label class="custom-control-label" for="nutacijaSwitch">Nutacija</label>
            </div>
            <div class="custom-control custom-switch mx-3">
                <input type="checkbox" class="custom-control-input" id="geoTopoSwitch">
                <label class="custom-control-label" for="geoTopoSwitch">Geo - Topo</label>
            </div>
            <button type="submit" class="btn mx-3" id="transform">TRANSFORMŠI</button>
        </form>

    </div>
</nav>
{% block header %} {% endblock %}

{% block content %}

{% endblock %}
<!-- my scripts -->
<script src="{{ url_for('static', filename='scripts/prelasci.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/CoordSystem.js') }}"></script>

</body>
